.modal-header{
	background: #535660;
	padding: 10px;
}
.ui-tabs-nav{
	background: none !important;
    border: none !important;
    &>li{
    	background: none !important;
    border: none !important;
    &>a{
    	color: black !important;
    	font-weight: bold;
        outline-color: transparent !important;
    	&:focus{
    		color: #272797 !important
    	}
    }
    }
}
#tabs{
	border: none;
}
.modal-footer{
	border-top: none !important;
	&>button{
		margin-top: 15px;	
	}
}
#myModalLabel{
    color:white;
}